.player-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: #1d1a1a;
    border-radius: 99999px;
    box-sizing: border-box;
    color: rgb(197, 197, 197);
    border: 2px solid rgb(197, 197, 197, 0.5);
}

.money {
    color: #64ae79;
}

.cards {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -50px
}