.statistics-panel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    z-index: 2;
    backdrop-filter: blur(8px);
}

.close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    background-image: url('../../../public/assets/close.svg');
    background-size: contain;
    height: 30px;
    width: 30px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 3;
}

.close-button:hover {
    opacity: 0.5;
}

.statistics-numbers-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 20px;
    height: 100%;
    width: 30.00%;
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.statistics-graphs-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 70.00%;
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.statistics-numbers {
    margin-bottom: 10px;
}

.number-row {
    display: flex;
    flex-direction: row;
}

.number-column {
    min-width: 60px;
}

.statistics-graphs-header {
    width: calc(100% - 40px);
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.graph_wrapper {
    width: 100%;
    height: calc(100% - 10vh);
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphs-header-text {
    margin-right: 10px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.chart {
    width: 100%;
    height: 100%;
}

.empty-chart {
    color: rgba(29, 26, 26, 0.6);
    font-weight: bold;
}
