frontend/node_modules
frontend/.pnp
frontend.pnp.js
frontend/build
frontend/dist
frontend/coverage
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

game_engine/ia/analysis/logs/*
!game_engine/ia/analysis/logs/.gitkeep
game_engine/ia/analysis/blueprints/important_blueprints/*
!game_engine/ia/analysis/blueprints/important_blueprints/.gitkeep
game_engine/models/runtime/*.json

**/__pycache__
**/.pytest_cache
**/launch.json
